{
  "rules": {
    "no-undef": "off",
    "react/prop-types" : "off",
    "react/no-unescaped-entities": 0
  },
  "extends": [
    "react-app"

  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
