// 
// authentication.scss
//

@font-face {
    font-family: inter_regular;
    src: url("../fonts/Inter-Medium.ttf");
  }
@font-face {
    font-family: inter_bold;
    src: url("../fonts/Inter-Bold.ttf");
  }


// authentication home icon
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}

// auth 2

.auth-logo{
    .auth-logo-dark{
        display: $display-block;
    }
    .auth-logo-light{
        display: $display-none;
    }
}

.auth-body-bg{
    background-color: $card-bg;
}


// auth-pass-inputgroup

.auth-pass-inputgroup{
    input[type="input"] + .btn .mdi-eye-outline{
        &:before{
            content: "\F06D1";
        }
    }
}

// authentication full page

.auth-full-bg{
    // background-color: rgba($primary, 0.25);
    // display: flex;
    background-color: #090F2F;

    @media (min-width: 1200px){
        height: 100%;
        background-color: #090F2F;
    }

    @media (max-width: 1200px){
        .bg-overlay{
             background: url("") !important;
        }
    }

    &::before{
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .bg-overlay-logo{
        background: url("../../../images/GLCL-LOGO.png");
        background-repeat: no-repeat;
        background-position-x: 18%;
        background-position-y: 50%;
        background-attachment: fixed;
        background-color: #090F2F;
        background-size: 300px;
    }
    
}

.auth-full-page-content{
    display: flex;

    @media (min-width: 1200px){
        min-height: 100vh;
    }
}



.auth-review-carousel{
    &.owl-theme {
        .owl-dots {
            .owl-dot{
                span{
                    background-color: rgba($primary, 0.25);
                }
                &.active, &:hover{
                    span{
                        background-color: $primary;
                    }
                }
            }
        }
    }
}

//TEXT TEXT//
.std_font{
    font-size: 1.2em;
    font-family: inter_regular;
}

.font12{
    font-size: 12px;
    font-family: inter_regular;
}


//FONT TEXT//

.login_title{
    font-size: 2.2em;
    text-decoration: underline #D4AF37;
    font-family: inter_bold;
}

.login-input{
    border-radius: 15px;
    height: 50px;
    font-size: 1.2em;
    border: 1px solid #dfdcdc;
    box-shadow: inset 0 3px 0px #bfbfbf;
    font-family: inter_regular;
}

.file-selected-box{
    // border-radius: 15px;
    border: 1px solid #dfdcdc;
    box-shadow: inset 0 3px 0px #bfbfbf !important;
    font-family: inter_regular;
}

.eye-outline-span{
    border-radius: 15px;
    height: 50px;
    border: 1px solid #dfdcdc;
}

.form-check input{
    border: 1px solid #bfbfbf;
    font-size: 1.2em;
    font-family: inter_regular;
}

.text-gold{
    color: #D4AF37;
}

.signIn_btn{
    border-radius: 15px;
    height: 50px;
    background-color: #0E174D;
    font-size: 1.2em;
    font-family: inter_bold;
}

.signIn_btn:hover{
    color: #ffffff;
    background-color: #090F2F;
    cursor: pointer;
}

.login-textarea{
    border-radius: 15px;
    border: 1px solid #dfdcdc;
    box-shadow: inset 0 3px 0px #bfbfbf;
    font-size: 1.2em;
    font-family: inter_regular;
}

.css-13cymwt-control, .css-t3ipsp-control{
    background-color: #ffffff !important;
    border-radius: 15px !important;
    height: 50px !important;
    border: 1px solid #dfdcdc !important ;
    box-shadow: inset 0 3px 0px #bfbfbf !important;
    font-size: 1.2em;
    font-family: inter_regular;
}

.css-1nmdiq5-menu {
    background-color: white !important;
    z-index: 5 !important;
    font-size: 1.2em;
    font-family: inter_regular;
}

.login-dropdown{
    border-radius: 15px;
    height: 50px;
    border: 1px solid #dfdcdc;
    box-shadow: inset 0 3px 0px #bfbfbf;
}

.login-textarea{
    border-radius: 15px;
    border: 1px solid #dfdcdc;
    box-shadow: inset 0 3px 0px #bfbfbf;
}


.required-indicator {
    color: red;
    font-size: 1.2em;
  }

.upload-file-btn{
    background-color: #0E174D;
    color: #ffffff;
    font-family: inter_bold;
}
.upload-file-btn:hover{
    background-color: #0E174D;
    color: #ffffff;
    font-family: inter_bold;
    border: 1px solid;
    outline-offset: 15px;
    cursor: pointer;
}


.success-modal{
    background-color: #cdecd3;
    opacity: 5;
}

.payment-opt{
    border-radius: 15px;
    height: 50px;
    border: 1px solid #dfdcdc;
    // box-shadow: inset 0 3px 0px #bfbfbf;
    background-image: linear-gradient(to bottom, #FBE39A 0%, #CAAF63 100%);

}