// 
// authentication.scss
//

@font-face {
    font-family: inter_regular;
    src: url("../fonts/Inter-Medium.ttf");
  }
@font-face {
    font-family: inter_bold;
    src: url("../fonts/Inter-Bold.ttf");
  }


// authentication home icon
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}

// auth 2

.auth-logo{
    .auth-logo-dark{
        display: $display-block;
    }
    .auth-logo-light{
        display: $display-none;
    }
}

.auth-body-bg{
    background-color: $card-bg;
}


// auth-pass-inputgroup

.auth-pass-inputgroup{
    input[type="input"] + .btn .mdi-eye-outline{
        &:before{
            content: "\F06D1";
        }
    }
}

// authentication full page

.auth-full-bg{
    // background-color: rgba($primary, 0.25);
    // display: flex;
    background-color: #090F2F;

    @media (min-width: 1200px){
        height: 100%;
        background-color: #090F2F;
    }

    @media (max-width: 1200px){
        .bg-overlay{
             background: url("") !important;
        }
    }

    &::before{
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .bg-overlay-logo{
        background: url("../../../images/GLCL-LOGO.png");
        background-repeat: no-repeat;
        background-position-x: 18%;
        background-position-y: 50%;
        background-attachment: fixed;
        background-color: #090F2F;
        background-size: 297px 291px;
       
    }
    
}

.auth-full-page-content{
    display: flex;

    @media (min-width: 1200px){
        min-height: 100vh;
    }
}



.auth-review-carousel{
    &.owl-theme {
        .owl-dots {
            .owl-dot{
                span{
                    background-color: rgba($primary, 0.25);
                }
                &.active, &:hover{
                    span{
                        background-color: $primary;
                    }
                }
            }
        }
    }
}


body{
    background-color: #FFF9F3;
}
