@font-face {
    font-family: inter_regular;
    src: url("../../assets/fonts/Inter-Medium.ttf");
  }
  
  @font-face {
    font-family: inter_bold;
    src: url("../../assets/fonts/Inter-Bold.ttf");
  }

.downloadBtn{
    background-color: #d9d9d9 !important ;
    border: none !important;
    color: #9b874c !important;
    box-shadow: inset 0 3px 0px #bfbfbf;
}

.printBtn{
  background: linear-gradient(95.1deg, #DDBF6A 0%, #9B7700 49.76%, #DDBF6A 100%);
    border: none !important;
    color: white !important;
}

.exportBtn{
    background-color: #d9d9d9 !important ;
    border: none !important;
    color: #5b5b5b !important;
    border-radius: 30px !important;
    font-family: inter_regular !important;
}

.defCard{
  border-radius: 25px !important;
}


.print_icon{
  width: 15px !important;
  height: 15px !important;
}

.whiteprint_icon{
  width: 20px !important;
  height: 20px !important;
}


.progress-bar{
  background-color: #D4AF37 !important;
  color: black !important;
  font-family: inter_bold;
}
.progress_bar{
  background-color: #99813e !important;
  height: 25px !important;
}

.line {
  border-bottom: 1px solid #888;
}

.tag-icon{
  background-color: #090F2F !important ;
    border: none !important;
    border-radius: 10px !important;
}

.tag-img{
  width:45px !important;
  height:45px !important;
}

.tagged .form-select {
  background-color: #090F2F !important;
  color: white;
  border: none !important ;
  box-shadow: none !important;
  border-radius: 0px 25px 25px 25px !important;
}

.ann .announceDatePicker, .announceSearch{
  background-color: #DDBF6A !important;
  color: black !important;
  border-radius: 50px !important;
  border: none !important;
}
.ann .announceDatePicker::placeholder, .announceSearch::placeholder{
  color: black !important;
}

 .editor .rdw-editor-main{
  border-radius: 25px !important;
}

.editor .rdw-editor-toolbar{
  border: none !important;
  background: none !important;
}

.modalAnnounce{
  background: linear-gradient(136.91deg, #FBE39A 0%, #CAAF63 40%);

}

.dropzone2{
  height: 200px !important;
}

.approval-popup{
  text-align: center;
  font-size: 50px;
  color: #485cbe;
}

.approval-popup-btn{
  text-align: center;
  margin: 30px 0px 20px 0px;
}